@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:wght@300..800&display=swap");
.text-silver {
  color: #ddd;
}

.z-index2 {
  z-index: 2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.4s ease-in-out;
  z-index: 1000;
  transition: 0.5s ease-in-out;
}
.navbar .nav-link {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  transition: 0.4s;
}
.navbar .nav-link:hover {
  background: linear-gradient(90deg, #b87f06, #FFD700, #FFB800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  transform: scale(1.2);
}
.navbar.scrolled {
  background: linear-gradient(90deg, #121212, #232323);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}
.hero-section .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3098039216);
}
.hero-section .left-part {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hero-section .left-part .hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.hero-section .left-part .hero .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  opacity: 0;
  background-repeat: no-repeat;
  transition: opacity 1s ease-in-out;
  animation: kenburns 8s ease-in-out infinite alternate;
  background-size: cover;
}
.hero-section .left-part .hero .slide.active {
  opacity: 1;
}
@keyframes kenburns {
  0% {
    background-size: 140%;
  }
  100% {
    background-size: 115%;
  }
}
.hero-section .left-part .home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  z-index: 2;
  cursor: pointer;
}
.hero-section .left-part .home-text h5 {
  color: white !important;
}
.hero-section .left-part .home-text h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 10px;
  z-index: 3;
  color: #fff !important;
}
.hero-section .left-part .home-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  z-index: 3;
}
.hero-section .left-part .arrows {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 3;
}
.hero-section .left-part .arrows .arrow {
  background: rgba(238, 127, 1, 0);
  color: #ffffff;
  padding: 5px 12px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  transition: 0.3s ease;
  margin: 0 20px;
}
.hero-section .left-part .arrows .arrow:hover {
  background: #d88027;
  font-size: 20px;
}

.why-choose-us {
  padding: 60px 0;
  background: #f8f9fa;
}
.why-choose-us .card {
  border: none;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.why-choose-us .card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.why-choose-us .card i {
  font-size: 40px;
  color: #ff6f00;
  margin-bottom: 15px;
}
.why-choose-us .card h5 {
  font-weight: 600;
}

.third .thiird {
  margin-bottom: 45px;
  position: relative;
  letter-spacing: 0.64px;
  color: #fff;
  line-height: 25px;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  margin: 3% 0% 0 0;
}
.third .thiird:before {
  background: #ff0000;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  bottom: -15px;
  width: 50px;
}
.third .container {
  width: 100%;
  margin: 50px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.third .card {
  position: relative;
  margin: 20px;
  width: 250px;
  height: 350px;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(450px);
  transition: 1.5s;
  box-shadow: inset 100px 0 50px rgba(0, 0, 0, 0.5);
}
.third .card:hover {
  z-index: 11;
  transform: perspective(2000px);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5);
}
.third .card .img-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
  z-index: 1;
  transition: 1s;
}
.third .card1 .img-container {
  transform-origin: left;
}
.third .card2 .img-container {
  transform-origin: right;
}
.third .card .img-container img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.third .card1:hover .img-container {
  transform: rotateY(-155deg);
}
.third .card2:hover .img-container {
  transform: rotateY(155deg);
}
.third .card .card-details {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 20px;
  color: #000;
}
.third .card .card-details h2 {
  margin: 0;
  padding: 0.5em 0;
  text-transform: uppercase;
  font-size: 1.7em;
  color: #ff0000;
}
.third .card .card-details p {
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: 1.1em;
  color: #000;
}

/*-----------------------------------------------------------------------------------*/
/* 09.parrelex effect
/*-----------------------------------------------------------------------------------*/
.parallax {
  /* The image used */
  /* Set a specific height */
  min-height: 500px;
  background: url("../../assets/aerial_photos/DJI_0002.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parfont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.parfont h2 {
  color: #fb0;
  font-size: 2em;
  margin-bottom: 5%;
  font-weight: 600;
}

.parfont p {
  font-size: 1.1em;
  color: #FFF;
  text-shadow: 0 8px 18px rgba(0, 0, 0, 0.25), 0 10px 15px rgba(0, 0, 0, 0.22);
  background-color: rgba(37, 37, 37, 0);
  border-radius: 8px;
}

/* Gallery Container */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}

/* Image Wrapper */
.ins-gallery {
  --s: 500px; /* Fixed size */
  position: relative;
  width: var(--s);
  height: 270px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -15px 18px 38px rgba(0, 0, 0, 0.25), 12px 15px 15px rgba(0, 0, 0, 0.22);
  border: 5px solid #Fb0;
  background-color: rgba(255, 183, 0, 0.6509803922);
}

/* Images */
.ins-gallery > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: clip-path 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-clip-path 0.5s ease-in-out; /* Smooth effect */
}

/* Default View: 50/50 Split */
.before {
  -webkit-clip-path: inset(0 50.5% 0 0);
          clip-path: inset(0 50.5% 0 0); /* Show left half */
  z-index: 2;
}

.after {
  -webkit-clip-path: inset(0 0 0 50.5%);
          clip-path: inset(0 0 0 50.5%); /* Show right half */
  z-index: 1;
}

/* Hover Left Side */
.ins-gallery:hover .before {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0); /* Expand before image smoothly */
  z-index: 3;
  transform: scale(1); /* Slight zoom effect */
}

.ins-gallery:hover .after {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  z-index: 1;
  transform: scale(1);
}

/* Left Side Hover Effect */
.ins-gallery:hover:has(.before:hover) .before {
  z-index: 3;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  transform: scale(1); /* Smooth zoom */
}

.ins-gallery:hover:has(.before:hover) .after {
  z-index: 1;
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0); /* Hide after image */
  transform: scale(1);
}

/* Right Side Hover Effect */
.ins-gallery:hover:has(.after:hover) .after {
  z-index: 3;
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  transform: scale(1);
}

.ins-gallery:hover:has(.after:hover) .before {
  z-index: 1;
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0); /* Hide before image */
  transform: scale(1);
}

/* Responsive Design */
@media (max-width: 1024px) {
  .gallery-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
footer {
  padding: 0 3%;
}
footer .btn-light .fab {
  color: #222;
}
footer .btn-light:hover {
  background-color: #222;
}
footer .btn-light:hover .fab {
  color: #fff;
}/*# sourceMappingURL=home.css.map */