@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Open+Sans:wght@300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.4s ease-in-out;
  z-index: 1000;
  transition: 0.5s ease-in-out;
}
.navbar .nav-link {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  transition: 0.4s;
}
.navbar .nav-link:hover {
  background: linear-gradient(90deg, #b87f06, #FFD700, #FFB800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  transform: scale(1.2);
}
.navbar.scrolled {
  background: linear-gradient(90deg, #101820, #232323);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.about-banner {
  height: 60vh;
  width: 100%;
  background-image: url(../../assets/aerial_photos/DJI_0016.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.about-banner .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3098039216);
}
.about-banner .about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.about-banner .about-text h2 {
  color: #fff !important;
  z-index: 2;
}
.about-banner .about-text p {
  color: #fff !important;
  z-index: 2;
}

.our-story .abt-img {
  background-image: url(../../assets/aerial_photos/DJI_0002.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.what-we-do {
  background-color: #f8f9fa;
  padding: 60px 0;
  text-align: center;
}
.what-we-do .section-title {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 30px;
}
.what-we-do .service-card {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.what-we-do .service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
.what-we-do .service-card img {
  width: 100%;
  height: 25vh;
  border-radius: 10px;
}
.what-we-do .service-card h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #222;
  margin-top: 15px;
}
.what-we-do .service-card p {
  font-size: 1rem;
  color: #666;
}

/* its for testimonial  */
.testi {
  background-color: #101820;
}
.testi h2 {
  color: rgba(214, 207, 207, 0.895);
}
.testi .testimonial {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  color: rgba(214, 207, 207, 0.895);
  font-family: "Poppins", sans-serif;
  padding: 35px 60px 0 60px;
}
.testi .testimonial .tes1 {
  margin-top: 10%;
}
.testi .testimonial .auth, .testi .testimonial .auth1 {
  text-align: right;
  width: 100%;
  position: relative;
  padding-right: 18px;
  padding-bottom: 5%;
}
.testi .testimonial .tesimg, .testi .testimonial .tes2img, .testi .testimonial .tes3img {
  width: 100px;
  height: 100px;
  background-color: #006b38;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.testi .testimonial .tesimg {
  margin: -15% 0 0 4%;
}
.testi .testimonial .tes2img {
  margin: -20% 0 0 3%;
}
.testi .testimonial .tes3img {
  margin: -14% 0 0 3%;
}
.testi .testimonial .font {
  background-color: rgba(52, 49, 49, 0.879);
  margin: -30px 15px 15px 25px;
  border-radius: 5px;
}
.testi .testimonial .font p {
  padding: 35px;
}

@media (min-width: 270px) and (max-width: 420px) {
  .testimonial .auth, .testimonial .auth1 {
    display: none;
  }
  .testimonial .instakattam img {
    margin-top: 3%;
    opacity: 1;
    margin-right: 5%;
    width: 15%;
  }
  .testimonial .tes1 {
    margin: 15%;
  }
}
/*-----------------------------------------------------------------------------------*/
/* 09.parrelex effect
/*-----------------------------------------------------------------------------------*/
.parallax {
  /* The image used */
  /* Set a specific height */
  min-height: 350px;
background-image: url("../assets/outdoor_photo/_MG_2628.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parfont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.parfont h2 {
  color: #fb0;
  font-size: 2em;
  margin-bottom: 5%;
  font-weight: 600;
}

.parfont p {
  font-size: 1.1em;
  color: #FFF;
  text-shadow: 0 8px 18px rgba(0, 0, 0, 0.25), 0 10px 15px rgba(0, 0, 0, 0.22);
  background-color: rgba(37, 37, 37, 0);
  border-radius: 8px;
}

footer {
  padding: 0 3%;
}
footer .btn-light .fab {
  color: #222;
}
footer .btn-light:hover {
  background-color: #222;
}
footer .btn-light:hover .fab {
  color: #fff;
}/*# sourceMappingURL=about.css.map */
